@model SportsStore.Domain.Entities.Product

<div class="well">
    <h3>
        
        <strong>@Html.ActionLink(Model.Name, "ProductView", new { productID = Model.ProductID })</strong>
        
        <span class="pull-right label label-primary">
            @Model.Price.ToString("c")
        </span>
    </h3>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.ProductID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <button type="submit" class="btn btn-success"> Добавить в корзину <span class="glyphicon glyphicon-shopping-cart"></span></button>
        </div>
    }
    <span class="lead"> @Model.Description</span>
</div>