@model IQueryable<SportsStore.Domain.Entities.WishListLine>
<script src="~/scripts/WishListScript.js"></script>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Список желаемого</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-right">Номер</th>
                            <th class="text-left">Продукт</th>   
                            <th class="text-center">Цена</th>
                            <th class="text-center">На складе</th>
                        </tr>
                    </thead>
                    @{ int i = 1; }
                    <tbody>
                        @foreach (var line in Model)
                        {
                            <tr>
                                <td class="text-right">@i</td>
                                <td class="text-left">@Html.RouteLink(line.Product.Name, new { controller = "Product", action = "ProductView", productID = line.Product.ProductID }, new { @class = "btn btn-link" })</td>
                                <td class="text-center">@line.Product.Price.ToString("c")</td>
                                <td class="text-center">@line.Product.QuantityInStock</td>
                                <td><button type="button" class="close removeWishListCart" value="@line.WishlistlineID">&times;</button></td>
                            </tr>
                           i++;
                        }
                    </tbody>
                 
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>

    </div>
</div>


