@model SportsStore.Domain.Entities.Product

@{
    ViewBag.Title = "ProductView";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h2>@Model.Name</h2>
    </div>

    <div class="panel-body">
        <div class="col-md-3">
            <img src="~/Content/Pictures/nike_t-short.png" class="img-responsive">
        </div>

        <div class="col-md-4">
            <div class="row text-center">
                <h2>
                    <span class="label label-primary">
                        @Model.Price.ToString("c")
                    </span>
                </h2>
            </div>
            <div class="row text-center prodQ">
                <h2>
                    <span></span>
                    <span class="productQuantity label label-warning">
                        @Model.QuantityInStock
                    </span>
                </h2>
            </div>

            <div class="row">
                <div class="col-md-5">
                    @using (Html.BeginForm("AddToCart", "Cart"))
                    {
                        <div class="pull-right">
                            @Html.HiddenFor(x => x.ProductID)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <button type="submit" class="addToCart btn btn-success">Добавить в корзину <span class="glyphicon glyphicon-shopping-cart"></span></button>
                        </div>
                    }
                </div>
                <div class="col-md-7">
                        <div class="pull-right">
                            <button type="submit" value="@Model.ProductID" class="btn btn-warning">Добавить в список желаемого <span class="glyphicon glyphicon-heart"></span></button>
                        </div>
                </div>
            </div>


            <div class="row">
                <h4><strong>Описание товара: </strong></h4>
                <h5>@Model.Description</h5>
            </div>
        </div>
    </div>
    <div class="panel-footer">

    </div>
</div>


