@model SportsStore.Domain.Entities.User

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel col-xs-8">
    <div class="page-header">
        <h2>Регистрация</h2>
    </div>
    @using (Html.BeginForm())
    {
        <div class="panel-body">
            @Html.ValidationSummary()
            @Html.HiddenFor(x => x.userID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
               
                if (property.PropertyName != "userID")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
    <div class="panel-footer">
        <input type="submit" value="Регистрация" class="btn btn-primary"/>
        @Html.ActionLink("Отмена","Login",null,new { @class = "btn btn-link" })
    </div>
    }
</div>
