@model SportsStore.Domain.Entities.CurrentUser

<ul class="nav navbar-nav navbar-right">
    @if (Model.Data == null)
    {
        <li>
            @Html.ActionLink("Войти", "Login", "Account", new { returnUrl = Request.Url.PathAndQuery },
    new { @class = "glyphicon glyphicon-log-in" })
        </li>
    }
    else
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-user"></span>
                @Model.Data.FirtsName
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                @if (Model.isAdmin)
                {
                    <li>
                        @Html.ActionLink("Администрирование", "Index", "Admin")
                    </li>
                    <li class="divider"></li>
                }
                <li>@Html.ActionLink("Мой профиль", "qwer", "qwer")</li>
                <li>@Html.ActionLink("Мои заказы", "qwer", "qwer")</li>
            </ul>
        </li>
        <li>
                @Html.ActionLink("Выйти", "Logout", "Account",null,
                new { @class = "glyphicon glyphicon-log-out" })
        </li>
      
    }
</ul>
