@model SportsStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Sports Store : Your cart";
}
<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<h2>Ваша корзина</h2>
<table id="cartTable" class="table" >
    <thead>
        <tr>
            <th colspan="3" width="9%">Количество</th>
            <th class="text-center">Товар</th>
            <th class="text-right">Цена</th>
            <th class="text-right">К оплате</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-left">
                    @using (Html.BeginForm("AddToCart","Cart"))
                    {
                        @Html.Hidden("ProductID", line.Product.ProductID);
                        @Html.HiddenFor(x => x.ReturnUrl);
                        @Html.ProductQuantity(line.Quantity, line.Product)
                    }
                </td>
                <td class="text-left">@line.Quantity</td>
                <td class="text-left">
                    @using (Html.BeginForm("DecrementQuantity", "Cart"))
                    {
                        @Html.Hidden("ProductID", line.Product.ProductID);
                        @Html.HiddenFor(x => x.ReturnUrl);
                        <input class="btn btn-sm btn-info" type="submit" value="-" />
                    }
                </td>
                <td class="text-center">@line.Product.Name</td>
                <td class="text-right">@line.Product.Price.ToString("c")</td>
                <td class="text-right">@((line.Product.Price * line.Quantity).ToString("c"))</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("ProductID", line.Product.ProductID);
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" class="text-right">Всего к оплате: </td>
            <td class="text-right">@Model.Cart.ComputeTotalValue().ToString("c")</td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
    @Html.ActionLink("Оплатить", "Checkout", null, new { @class = "btn btn-primary" })
</div>
